body{
	background-image: url("http://i.imgur.com/Axyx7aJ.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	font-family: sans-serif;
	text-align: center;
}
h1{margin-top: 30vh;}
p{text-shadow:1px 1px #aaa;}
ul{}
li{}
img{}
#slogan{font-style:italic;}
#bg-panel{
	background-color: rgba(200,200,200,.2);
	padding-bottom:2em;
}